div.passedduration-field-column {float: left;width: 110px;}
div.passedduration-field-column .form-text {width: 95%;}
.passedduration-field-month{padding-top: 20px;}
td .passedduration-field-subrow .passedduration-field-month{padding-top: 0px;}
